body {
    font-family: 'Ubuntu', sans-serif;
    color: #A9B5CC;
    background-image: url("Layer\ 0.png");
}

/* header */
header {
    background-color: #141922;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 5%;
}

#nav_bar {
    background-color: #141922;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile_logo {
    display: flex;
    align-self: center;
    padding-bottom: 4%;
    font-size: 140%;
    margin-top: 5%;
}

#left_side_header {
    display: flex;
    justify-content: space-between;
}

#right_side_header {
    display: flex;
    justify-content: flex-end;
}

#basket {
    align-self: flex-end;
    padding: 1%;
    box-sizing: border-box;
}

.nav_elements {
    display: flex;
    align-content: center;
    align-items: center;
}

.big_logo {
    display: none;
}

.weight {
    font-weight: 700;
}

/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#hero>div:first-child {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.main_box>img {
    max-height: 100%;
}

.main_box {
    display: none;
    flex-direction: column;
    border: solid 1px #181D26;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

.active {
    display: flex;
    z-index: 10;
}

.arrow {
    box-sizing: border-box;
    width: 20px;
    display: inline-block;
}

.right_arrow {
    transform: rotate(90deg);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

#first_left_arrow,
#first_right_arrow {
    background-color: #272B35;
}

#first_left_arrow:hover,
#first_right_arrow:hover {
    background-color: #2D333D;
}

.arrow_div:hover {
    cursor: pointer;
    background-color: #2D333D;
}

.arrow_div {
    display: none;
}

.arrow_div:first-child {
    margin-right: 1%;
}

.arrow_div:last-child {
    margin-left: 1%;
}

.hero_img {
    width: 100%;
}

.relative {
    display: none;
}

.text_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    background-color: #2D333D;
}

.details_box p {
    width: 75%;
    margin-top: 5%;
}

.details_box h3 {
    font-size: 150%;
}

.details_box span {
    font-weight: 700;
}

.details_box {
    margin-bottom: 2%;
}

.price_box div {
    display: inline-block;
}

.price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #272B35;
    border: solid 1px #181D26;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    padding: 3%;
}

.price_box p:first-child {
    font-weight: 700;
    font-size: 100%;
    width: 100%;
}

.price_box p:last-child {
    font-size: 14px;
    margin-bottom: 5%;
}

.button {
    background-color: #46C351;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 1% 2%;
}

.button:hover {
    cursor: pointer;
    background-color: #2a7931;
}

/* second */
#second_hero {
    margin-top: 5%;
    width: 80%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.activities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.activities .right_arrow:hover {
    cursor: auto;
}

.activities:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272B35;
    margin-right: 0px;
    padding: 5%;
    border: solid 1px #181D26;
    border-radius: 3px;
    width: auto;
    text-align: center;
}

.logo_text p {
    display: flex;
    justify-content: center;
    margin: auto;
}

.logo_text:last-child {
    margin-right: 0px;
}

.img_activities {
    width: 100%;
    height: 100%;
}

/* third */
#third_hero {
    width: 80%;
    margin-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}

#third_hero .title_third_hero {
    font-size: 100%;
    width: 50%;
    text-align: center;
    border-bottom: solid 2px #3A424E;
    padding-bottom: 1%;
    margin: auto;
}

.paras_hero {
    font-size: 15px;
    line-height: 150%;
    margin-top: 3%;
}

.paras_hero:last-child {
    margin-bottom: 3%;
}

.grid .grid_paras {
    grid-column: 1/5;
}

#checkout {
    align-self: center;
}

/* footer */
footer {
    background-color: #141922;
    display: flex;
    justify-content: center;
}

footer>div {
    padding-top: 3%;
    padding-bottom: 6%;
    width: 70%;
}

footer>div>p:first-child {
    padding-bottom: 2.5%;
}

/* tableta */

@media (min-width:426px) {
    header {
        height: 60px;
    }

    .mobile_logo {
        display: none;
    }

    .big_logo {
        display: flex;
        font-size: 200%;
    }

    .nav_elements {
        margin-right: 10%;
    }

    #nav_bar {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    #basket {
        align-self: center;
    }

    .img-bar {
        margin-right: 3%;
    }

    .relative {
        display: block;
        position: absolute;
        z-index: 3;
        margin: 2% 1.5%;
        line-height: 110%;
    }

    .price_box {
        width: 50%;
    }

    #enjoy {
        font-size: 200%;
        margin: auto;
    }

    #world {
        font-size: 100%;
    }

}

/* laptop */
@media(min-width:769px) {
    header {
        padding: 0%;
    }

    #nav_bar {
        width: 70%;
    }

    #basket {
        padding: 20%;
    }

    #basket:hover {
        background-color: #2D333D;
        box-sizing: border-box;
        border-radius: 50%;
        text-decoration: none;
    }

    .arrow_div {
        display: block;
        box-sizing: border-box;
        padding: 0.7% 1.2%;
        background-color: #272B35;
        border-radius: 10px;
        border: solid 1px #181D26;
    }

    #hero>div:first-child {
        width: 100%;
    }

    .hero_img {
        width: 70%;
    }

    .main_box {
        flex-direction: row;
        width: 70%;
    }

    .big_logo {
        font-size: 220%;
    }

    .nav_elements:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .nav_elements:hover:first-child {
        text-decoration: none;
    }

    .price_box {
        width: 100%;
    }

    .button {
        padding: 10px 15px;
    }

    .price_box>div:first-child {
        font-size: 100%;
        padding-right: 5%;
    }

    #second_hero {
        width: 70%;
    }

    .arrow {
        display: block;
    }

    #first_right_arrow {
        display: block;
    }

    .grid .grid_paras {
        grid-column: 1/4;
    }

    .grid_paras {
        margin-right: 6.25%;
    }

    #third_hero .title_third_hero {
        margin: 0px;
        text-align: left;
        font-size: 150%;
    }

    #third_hero {
        width: 70%;
    }

    #checkout {
        align-self: flex-start;
    }

    .activities {
        margin-right: 25%;
    }

}

@media (min-width:1440px) {
    .price_box p:first-child {
        font-size: 200%;
    }

    .details_box h3 {
        font-size: 200%;
    }
}