@import "../abstracts/variables";
@import "../abstracts/breakpoints";

footer {
    background-color: $headFoot;
    display: flex;
    justify-content: center;

    
    div {
        padding-top: 3%;
        padding-bottom: 6%;
        width: 70%;
        p{
            &:first-child{
                padding-bottom: 2.5%;
            }
        }
        }
}