@import "../common_utilities/variables";
@import "../common_utilities/breakpoints";

footer {
    background-color: $headFoot;
    display: flex;
    justify-content: center;

    
    ul {
        padding-top: 3%;
        padding-bottom: 6%;
        width: 70%;
        li{
            &:first-child{
                padding-bottom: 2.5%;
            }
        }
        }
}