@import "../common_utilities/variables";

.arrow_div {

    display: none;

    &:hover {
        cursor: pointer;
        background-color: $mainGray;
    }

    &:first-child {
        margin-right: 1%;
    }

    &:last-child {
        margin-left: 1%;
    }

    @include md {
        display: block;
        box-sizing: border-box;
        padding: 0.7% 1.2%;
        background-color: $darkGray;
        border-radius: 10px;
        border: solid 1px $borderColor;
    }

    .arrow {
        box-sizing: border-box;
        width: 20px;
        display: inline-block;
    }

    #first_left_arrow,
    #first_right_arrow {
        background-color: $darkGray;

        &:hover {
            background-color: $mainGray;

        }
    }
}
.right_arrow {
    transform: rotateY(180deg);
    width: 20px;
}