@import "../common_utilities/variables";
@import "../common_utilities/breakpoints";

#second_box {
    margin-top: 5%;
    width: 80%;

    @include sm {
        #enjoy {
            font-size: 200%;
            margin: auto;
        }

        #world {
            font-size: 100%;
        }
    }

    @include md {
        width: 70%;
    }

    .grid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        .activities {
            @include flexCenter(space-between);
            align-items: center;
            box-sizing: border-box;

            .right_arrow &:hover {
                cursor: auto;
            }

            &:last-child {
                @include flexCenter(center);
                align-items: center;
                background-color: $darkGray;
                margin-right: 0px;
                padding: 5%;
                border: solid 1px $borderColor;
                border-radius: 3px;
                width: auto;
                text-align: center;
            }

            @include sm {
                margin-right: 25%
            }

            .logo_text {
                display: flex;
                flex-direction: column;
                align-items: center;

                .img_activities {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}